<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src="angular.js"></script>
    <script src="demo.js"></script>
    <style>

    </style>
  </head>
  <body ng-app="app">

    <form ng-controller="profileFormController">
      <fieldset>
        <label for="username">Username</label>
        <input id="username" ng-model="username" />
      </fieldset>
      <fieldset>
        <label for="hasKryptonite">Has Kryptonite?</label>
        <input id="hasKryptonite" type="checkbox" ng-model="hasKryptonite" />
      </fieldset>
    </form>

    <div ng-controller="profileController">
      <p>Username: {{username}}</p>
      <p>Has Krypotonite: {{hasKryptonite}}</p>
    </div>


  </body>
</html>
