<!--
* Where is the code? Angular traverses the DOM. Draw on board.
* talk about scope and templates vs. DOM manipulations.
* Show a controller.
* Initiate a value.
* Create a method to set a value, assign it to ng-click.
-->

<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src='angular.js'></script>
    <script src='demo.js'></script>
  </head>
  <body ng-app='app' ng-controller='myController'>

    <div>{{name}}</div>

    <input ng-model='name' />
    <button ng-click="sayHello()">Hello</button>{{greeting}}

  </body>
</html>


















<!-- Initial State -->

<!--

<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <script src='angular.js'></script>
    <script src='demo.js'></script>
  </head>
  <body ng-app>

    <div>{{name}}</div>

    <input ng-model='name' />
    <button>Hello</button>

  </body>
</html>

-->
